* {
  font-family: sans-serif;

}
h1{
  text-align: center;
}
.Input-Output, input{
  margin-left:25vw;
  margin-right:25vw;
  
}
.App-logo {
 height: 10vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.Buttons-math{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.Buttons-result{
  padding-top:2rem;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2rem;
}
.Input-Output{
display: flex;
flex-wrap: wrap;
column-gap: 3rem;
justify-content: center;
margin:1rem 7rem;
}
p{
  display: flex;
  padding:0.5rem;
  justify-content: center;
  flex-basis:200px;
  border-radius: 1rem;

}
 form p:nth-last-child(1){
  
  
  
  background-color: rgb(179, 196, 196);
}
input{
  margin: auto;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
 

}
input {
  display: block;
  margin-bottom: 20px;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
.Buttons-result button {
  background: tomato;
  color: white;
}
footer{
  

  
  position:absolute;
  bottom:0;
  width:100%;
  height:20vh;   /* Height of the footer */
  background:rgb(27, 101, 138);
  display:flex;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
}
footer p{
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}